html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul,
li {
  list-style: none;
  list-style-type: none;
  text-decoration: none; }

a {
  color: #fff;
  text-decoration: none; }

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: #000; }

button:hover {
  cursor: pointer; }

.btn {
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  line-height: 150%;
  background: none;
  color: #fff; }

.container {
  max-width: 1296px;
  margin: 0 auto; }

.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%; }

.subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5); }

.main-screen {
  background-image: url("../img/main-screen__bgc.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 960px; }
  .main-screen__content {
    max-width: 1296px;
    margin: 0 auto; }
  .main-screen__row {
    padding-top: 200px; }
  .main-screen__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 180%; }
  .main-screen__timer {
    display: flex;
    padding-top: 50px; }
  .main-screen_bottom {
    background-color: #121212;
    margin-top: 218px;
    padding: 28px 0 35px 0;
    width: 100%; }
    .main-screen_bottom-btn {
      border-radius: 50px;
      background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%); }
    .main-screen_bottom-students {
      width: 251px; }
      .main-screen_bottom-students .students__all {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4); }
        .main-screen_bottom-students .students__all span {
          font-weight: bold;
          float: right;
          color: #fff; }
      .main-screen_bottom-students .students__finished {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4); }
        .main-screen_bottom-students .students__finished span {
          font-weight: bold;
          float: right;
          color: #fff; }
    .main-screen_bottom-earned {
      width: 714px; }
      .main-screen_bottom-earned .earned__students {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.4); }
        .main-screen_bottom-earned .earned__students span {
          font-weight: bold;
          font-size: 16px;
          line-height: 150%;
          margin-left: 30px;
          color: #fff; }
      .main-screen_bottom-earned .earned__bar {
        width: 100%;
        height: 6px;
        background-color: #fff;
        margin-top: 6px;
        margin-bottom: 5px; }
        .main-screen_bottom-earned .earned__bar-inner {
          background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
          width: 44%;
          height: 6px; }
      .main-screen_bottom-earned .earned__stats {
        display: flex;
        justify-content: space-between; }
        .main-screen_bottom-earned .earned__stats p {
          font-size: 16px;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.4); }

.bottom_screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.timer__block {
  width: 102px;
  height: 112px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px; }
  .timer__block:last-child {
    margin-right: 0; }

.timer__time {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%; }

.timer__type {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 1760px;
  margin: 0 auto; }

.header__nav {
  display: flex;
  width: 745px;
  justify-content: space-between; }
  .header__nav-lis {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%; }
  .header__nav-btn {
    width: 40px;
    height: 25px;
    position: relative;
    display: none; }
    .header__nav-btn::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: #fff;
      top: 0;
      left: 50%; }
    .header__nav-btn::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: #fff;
      bottom: 10px;
      left: 50%; }

.header__but .header__btn {
  border-radius: 50px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

.about {
  margin-top: 270px; }
  .about__inner {
    display: flex;
    justify-content: space-between; }
  .about__img {
    position: relative; }
    .about__img::before {
      content: "";
      width: 526px;
      height: 499px;
      background-image: url("../img/pc_rect.png");
      background-repeat: no-repeat;
      position: absolute;
      top: -90px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1; }
  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 179px; }
    .about__text-title {
      font-weight: bold;
      font-size: 48px;
      line-height: 140%;
      margin-bottom: 45px; }
    .about__text-subtitle {
      font-weight: 300;
      font-size: 16px;
      line-height: 160%; }

.start {
  margin-top: 200px; }
  .start__title {
    display: flex;
    align-items: center; }
    .start__title h2 {
      margin-left: 20px; }
  .start__subtitle {
    margin-top: 49px;
    margin-bottom: 80px;
    width: 411px; }
  .start__infographic {
    display: flex;
    align-items: center; }

.infographic__block {
  width: 324px; }

.infographic__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 20px; }

.infographic-bar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.info_bar-1 {
  height: 80px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

.info_bar-2 {
  height: 60px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

.info_bar-3 {
  height: 30px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

.info_bar-4 {
  height: 10px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0); }

.infographic__subtitle {
  margin-top: 35px;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
  width: 306px; }

.advantages {
  margin-top: 200px; }
  .advantages__title {
    text-align: center;
    margin-bottom: 120px; }
  .advantages__description {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .advantages__description-item {
      width: 358px; }
      .advantages__description-item .item__icon {
        margin-bottom: 60px; }
      .advantages__description-item .item__title {
        margin-bottom: 30px; }
        .advantages__description-item .item__title h2 {
          font-weight: 500;
          font-size: 24px;
          line-height: 140%; }
      .advantages__description-item .item__subtitle {
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.8); }

.partners__title {
  display: flex;
  align-items: center;
  margin-top: 200px; }
  .partners__title img {
    transform: rotate(-180deg); }
  .partners__title h2 {
    margin-left: 20px; }

.partners__companies {
  margin-top: 89px; }
  .partners__companies-row {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .partners__companies-row:last-child {
      border: none; }
  .partners__companies-row:first-child .partners__company {
    padding-bottom: 29px; }
  .partners__companies-row:last-child .partners__company {
    padding-top: 29px; }

.partners__company {
  width: 324px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center; }

.partners__company:last-child {
  border: none; }

.program {
  margin-top: 153px;
  text-align: center; }
  .program__title {
    padding-top: 32px; }
    .program__title img {
      transform: rotate(-225deg); }
    .program__title h2 {
      padding-top: 32px; }
  .program__subtitle {
    width: 411px;
    padding-top: 30px;
    margin: 0 auto; }
  .program__timeline {
    position: relative;
    padding-top: 80px; }
    .program__timeline::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 677px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

.timeline__item {
  width: 600px;
  height: 95px;
  text-align: right; }
  .timeline__item::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    left: 50%;
    margin-top: 40px;
    transform: translateX(-100%); }
  .timeline__item-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    width: 228px;
    margin-left: auto; }

.timeline__item:nth-child(2n) {
  margin-left: auto;
  text-align: left; }
  .timeline__item:nth-child(2n)::before {
    transform: translateX(0); }
  .timeline__item:nth-child(2n) .timeline__item-text {
    margin-right: auto;
    margin-left: 0; }

.teachers {
  margin-top: 231px; }
  .teachers__title {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
    .teachers__title img {
      transform: rotate(-45deg); }
    .teachers__title h2 {
      margin-left: 15px; }
  .teachers__people {
    display: flex;
    justify-content: space-between; }
  .teachers__teacher {
    text-align: center; }
    .teachers__teacher .teacher__name {
      margin-top: 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 140%; }
    .teachers__teacher .teacher__position {
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 15px; }
    .teachers__teacher .teacher_btn {
      margin-top: 40px; }
      .teachers__teacher .teacher_btn .btn {
        border: 1px solid #fff;
        border-radius: 50px; }

.footer {
  margin-top: 200px;
  text-align: center; }
  .footer__subtitle {
    margin-top: 30px; }
  .footer__form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__form-input {
      color: #fff;
      font-size: 14px;
      border-radius: 50px;
      border: none;
      padding: 11px 30px;
      padding-right: 150px;
      width: 492px;
      height: 44px;
      background-color: rgba(255, 255, 255, 0.25);
      outline: none; }
      .footer__form-input::placeholder {
        color: #fff; }
      .footer__form-input:focus {
        border-radius: 50px;
        box-shadow: 0 0 3px white; }
    .footer__form-btn {
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-left: -165px;
      border-radius: 50px;
      background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%); }
  .footer__soc-icons {
    width: 290px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between; }
    .footer__soc-icons-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%); }

@media only screen and (max-width: 376px) {
  .title {
    font-size: 46px; }
  .container {
    max-width: 308px; }
  .main-screen {
    background-position: top right;
    width: 100%;
    background-size: auto; }
    .main-screen .nav {
      position: fixed;
      justify-content: space-evenly;
      top: 0;
      left: 0;
      height: 100vh;
      width: 375px;
      text-align: center;
      z-index: 10;
      background-color: #000;
      flex-direction: column;
      display: none;
      transition: all 0.4s; }
    .main-screen .header {
      background-color: rgba(0, 0, 0, 0.5); }
      .main-screen .header-container {
        width: 350px; }
      .main-screen .header__nav {
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 350px; }
        .main-screen .header__nav li {
          font-size: 22px; }
      .main-screen .header__nav-btn {
        display: block;
        z-index: 11; }
    .main-screen__title {
      font-size: 28px;
      text-align: center; }
    .main-screen__timer {
      text-align: center;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto; }
      .main-screen__timer .timer__block margin .timer__time {
        font-size: 18px; }
      .main-screen__timer .timer__block .timer__type {
        font-size: 10px; }
    .main-screen .bottom_screen {
      flex-direction: column;
      justify-content: space-between;
      height: 200px; }
    .main-screen_bottom-earned {
      width: 350px; }
  .about__inner {
    flex-direction: column; }
  .about__img img {
    width: 300px; }
  .about__img::before {
    width: 350px;
    height: 377px;
    background-size: 350px 377px; }
  .about__text {
    margin-top: 35px;
    margin-left: 0; }
  .start__title {
    flex-direction: column;
    text-align: center; }
  .start__subtitle {
    text-align: center;
    width: auto; }
  .start__infographic {
    flex-wrap: wrap; }
    .start__infographic .infographic__block {
      margin-bottom: 30px; }
    .start__infographic .infographic__title {
      margin-bottom: 0; }
    .start__infographic .infographic-bar {
      display: none; }
    .start__infographic .infographic__subtitle {
      margin-top: 0; }
  .advantages__description {
    flex-wrap: wrap; }
    .advantages__description-item {
      margin-bottom: 50px; }
    .advantages__description .item__icon {
      margin-bottom: 25px; }
    .advantages__description .item__title {
      margin-bottom: 15px; }
  .partners__title {
    flex-direction: column;
    text-align: center; }
  .partners__companies-row {
    flex-wrap: wrap; }
  .partners__company {
    width: 154px;
    border: none; }
    .partners__company img {
      width: 140px; }
  .program__subtitle {
    width: auto; }
  .program__timeline .timeline__item {
    width: 110px; }
    .program__timeline .timeline__item-title {
      font-size: 12px; }
    .program__timeline .timeline__item-text {
      font-size: 14px;
      width: 110px; }
  .teachers__title {
    flex-direction: column;
    text-align: center; }
    .teachers__title h2 {
      margin-left: 0; }
  .teachers__people {
    flex-wrap: wrap;
    justify-content: center; }
  .teachers__teacher {
    margin-bottom: 40px; }
    .teachers__teacher .teacher__name {
      margin-top: 20px; }
    .teachers__teacher .teacher_btn {
      margin-top: 15px; } }
